/* General style */ 
body{
    font-family: 'Roboto', 'sans-serif';
    background-color: #F5F5F5;
    max-width: 100%;
}
 /*Navbar*/

#navbar-container{
margin:2rem 2rem 0px 2rem;
width: 600px;
height: 60px;
background: #FFFFFF;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

/*Titles*/
.h1-custom{
    font-family: 'montserrat', sans-serif;
    font-size: 3rem;
    color: black;
    font-weight: bold;    
    margin-top:170px;
    }
.h2-custom{
    font-family: 'montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;    
    background: linear-gradient(90deg, #21004B 2.92%, #7000FF 96.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.h3-custom{
    font-family: 'montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 900;
}

/*Links*/
.bold-link{
    color: #0012ab;
    font-weight: bold;
    text-decoration: none
}
.bold-link:hover{
    color: #f7657b;
}
.bold-link-footer{
    color: #f7657b;
    font-weight: bold;
    text-decoration: none;
}
.bold-link-footer:hover{
    color: white;
    opacity: 0.8;
}


/*Icons and social media*/

.icon-custom{
    fill:#7000FF;
}
.fa-head {
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    color: #7000FF;
  }
.fa-head:hover{
    color: #7000FF;
}
  .fa-footer {
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    color: #7000FF;
  }
.fa-footer:hover {
    color:white;
    opacity: 0.8;
    }

#profile-pic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;  
}

/*Background*/
#description-box{
    background: #FFFFFF;
    border: 1px solid;
    width: 60%;
    margin: auto;
    margin-bottom: 4rem;
    border-image-source: linear-gradient(180deg, #000000 100%, #7000FF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}
#box-container{
    margin: 2rem;
    display:flex;
    gap:1rem;
    justify-content: center;
}
#custom-box{
    background: #FFFFFF;
    width: 31%;
    height: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;

}

/*Images*/
#image-shop{
    width: 70px;
}
#image-mapmelon{
    width: 70px;
}
#image-buildpublic{
    width: 70px;
}




/** Footer**/
#footer{
    background-color: black;
}