
body{
    font-family: 'montserrat';
    background-color: #ECECEC;
    max-width: 100%;
}

.h1-custom{
    font-family: 'syne', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    }
h2{
    font-family: 'syne', sans-serif;
    font-weight: 900;
    }
.subtitle-custom{
    color: #fe8282;
}
#nav-logo-custom{
    font-family: 'Syne', sans-serif;
    font-weight: 900;
    color:#fe8282;
    text-decoration: none;
    font-size: larger;
}

.fa-head {
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    color: #001097;
  }
.bold-link{
    color: #001097;
    font-weight: bold;
    text-decoration: none
}
.h3-custom{
    font-family: 'syne', sans-serif;
    font-size: 1.5rem;
}
.icon-custom{
    fill:#fe8282;
}

.bold-link-footer{
    color: #fe8282;
    font-weight: bold;
    text-decoration: none;
}
.bold-link-footer:hover {
    opacity: 0.8;
  }
.fa-footer {
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    color: #fe8282;
  }
.fa-footer:hover {
    color: #ffa3a3;
    }
.bold-link-footer:hover {
    color: #ffa3a3;
    }

